<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sinatra sample: hello</title>
  </head>
  <body>
    <h1>Sinatra sample: hello</h1>
    <p>Hello <%= @name %>!</p>
  </body>
</html>

