<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sinatra sample: params</title>
  </head>
  <body>
    <h1>Sinatra sample: params</h1>
    <div>
      <% @list.each do |l| %>
        <%= l %><br>
      <% end %>
    </div>
  </body>
</html>

